/*‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*\
)                                                                BREAKPOINTS   (
\*____________________________________________________________________________*/
*,
*:before,
*:after {
  box-sizing: border-box;
}
[hidden] {
  display: none;
}
p {
  margin: 0 0 1em;
}
a {
  color: inherit;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #069bfa;
  outline: 0;
}
a:hover .iconpile [class|="stroke"] {
  stroke: #069bfa;
}
a:hover .iconpile [class|="fill"] {
  fill: #069bfa;
}
a:active {
  outline: 0;
}
button {
  line-height: 1em;
  min-width: 12rem;
  height: 4rem;
  padding: 0 1.5rem;
  background: rgba(255, 255, 255, 0);
  border: 1px solid #ccc;
  white-space: nowrap;
  cursor: pointer;
}
button:active,
button:hover {
  outline: 0;
}
button:hover {
  color: #333;
  background-color: #fff;
}
button:focus {
  outline: 0;
}
button + a,
button + button {
  margin-left: 1em;
}
img {
  display: block;
  border: 0;
  max-width: 100%;
}
i {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem;
}
h1 {
  font-size: 4.0em;
  font-weight: 300;
  line-height: 1.25;
}
@media screen and (max-width: 640px) {
  h1 {
    font-size: 3.0em;
  }
}
h2 {
  font-size: 2.66666667em;
  font-weight: 300;
  line-height: 1.5;
}
@media screen and (max-width: 640px) {
  h2 {
    font-size: 2.0em;
  }
}
h3 {
  font-size: 2.0em;
  line-height: 1.33333333;
  font-weight: 400;
}
@media screen and (max-width: 640px) {
  h3 {
    font-size: 1.5em;
  }
}
h4 {
  font-size: 1.5em;
  line-height: 1.33333333;
  font-weight: 400;
}
h5 {
  font-size: 1.0em;
  line-height: 1.5;
  font-weight: 400;
}
h6 {
  font-size: .75em;
  line-height: 1.5;
  font-weight: 400;
}
strong {
  font-weight: 500;
}
small {
  font-size: 80%;
}
textarea {
  overflow: auto;
  background: none;
}
pre {
  margin: 0;
  font-family: inherit;
}
code {
  white-space: pre;
  border: 1px solid #ddd;
}
code.block {
  font-family: Monaco;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.02) 50%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.02) 50%);
  display: block;
  font-size: 11px;
  line-height: 2em;
  margin: 2em 0;
  padding: 2em 1em;
  background-repeat: repeat-y;
  background-size: 100% 4em;
  background-position: center top;
  overflow-x: auto;
}
hr {
  box-sizing: content-box;
  height: 0;
  margin: 1.5rem 0;
  border: 1px solid #ccc;
  border-bottom-color: #fff;
}
/*
 *  misc
 */
article,
aside,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button,
input,
textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
ul {
  padding-left: 1.25rem;
}
button,
select {
  text-transform: none;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
fieldset {
  border: none;
  padding: 0;
  margin: 0 0 1em 0;
}
input {
  line-height: normal;
  padding: 0;
}
input[type="range"] {
  width: 100%;
}
input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  box-sizing: content-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
table {
  color: inherit;
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
th {
  font-weight: normal;
}
.adaptive {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  position: relative;
  width: 100%;
  margin-bottom: 1em;
}
.adaptive:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 -5px 8px #fff inset;
  border: 1px solid rgba(217, 217, 217, 0);
  pointer-events: none;
  -webkit-user-select: none;
          user-select: none;
}
.adaptive textarea {
  min-height: 6rem;
  max-height: 16rem;
  padding: 1.25rem;
}
.adaptive input[type="text"] {
  padding: 1.25rem 0 1.25rem 1.25rem;
}
.adaptive textarea,
.adaptive input[type="text"] {
  box-shadow: 0 1px #d9d9d9 inset, 0 -1px #d9d9d9 inset, 1px 0 #d9d9d9 inset, -1px 0 #d9d9d9 inset;
  -webkit-box-ordinal-group: 3;
          order: 2;
  height: 4rem;
  outline: none;
  border: none;
  resize: vertical;
  background: #fff;
}
.adaptive textarea:focus + label,
.adaptive input[type="text"]:focus + label,
.adaptive textarea.valid + label,
.adaptive input[type="text"].valid + label {
  -webkit-transform: translate(-12.5%, -50%) scale(0.75);
          transform: translate(-12.5%, -50%) scale(0.75);
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
}
.adaptive textarea:focus + label:before,
.adaptive input[type="text"]:focus + label:before,
.adaptive textarea.valid + label:before,
.adaptive input[type="text"].valid + label:before {
  background-size: 100% 5px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}
.adaptive textarea:not(.valid) + label[data-placeholder]:before,
.adaptive input[type="text"]:not(.valid) + label[data-placeholder]:before {
  content: attr(data-placeholder);
}
.adaptive textarea:focus,
.adaptive input[type="text"]:focus {
  box-shadow: 0 1px #069bfa inset, 0 -1px #069bfa inset, 1px 0 #069bfa inset, -1px 0 #069bfa inset;
}
.adaptive textarea:focus + label:before,
.adaptive input[type="text"]:focus + label:before {
  color: #069bfa;
}
.adaptive textarea:focus + label[data-focus]:before,
.adaptive input[type="text"]:focus + label[data-focus]:before {
  content: attr(data-focus);
}
.adaptive textarea:focus.valid + label[data-typing]:before,
.adaptive input[type="text"]:focus.valid + label[data-typing]:before {
  content: attr(data-typing);
}
.adaptive textarea:focus.valid[data-warning],
.adaptive input[type="text"]:focus.valid[data-warning] {
  box-shadow: 0 1px #fd5750 inset, 0 -1px #fd5750 inset, 1px 0 #fd5750 inset, -1px 0 #fd5750 inset;
}
.adaptive textarea:focus.valid + label[data-warning]:before,
.adaptive input[type="text"]:focus.valid + label[data-warning]:before {
  color: #fd5750;
  content: attr(data-warning);
}
.adaptive textarea.valid:not(:focus) + label[data-forgot]:before,
.adaptive input[type="text"].valid:not(:focus) + label[data-forgot]:before {
  content: attr(data-forgot);
}
.adaptive label {
  position: absolute;
  -webkit-box-ordinal-group: 2;
          order: 1;
  top: 0;
  left: 0;
  max-width: 100%;
  padding: 1.25rem;
  overflow: hidden;
  white-space: nowrap;
  -webkit-user-select: none;
          user-select: none;
  pointer-events: none;
  -webkit-transition: 375ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 375ms cubic-bezier(0.39, 0.575, 0.565, 1);
}
.adaptive label:before {
  display: -webkit-box;
  display: flex;
  content: attr(data-label);
  color: #888;
  padding: 0 3px;
  -webkit-transition: color 375ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: color 375ms cubic-bezier(0.39, 0.575, 0.565, 1);
  background-image: -webkit-linear-gradient(top, #fff, #fff);
  background-image: linear-gradient(to bottom, #fff, #fff);
  background-size: 100% 0;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-user-select: none;
          user-select: none;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #555;
  font: 16px/1.5 Roboto, sans-serif;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html ::selection {
  color: #069bfa;
  background: rgba(6, 155, 250, 0.08);
  text-shadow: none;
}
body {
  margin: 0;
  min-height: 100%;
  background: #fff;
}
.content {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.segment,
.jumbotron {
  box-shadow: 0 1px #ddd;
}
hr {
  border: none;
  margin: 0;
  padding: 1.5rem 0;
}
section {
  width: 100%;
}
section.content {
  -webkit-box-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
section article {
  max-width: 40rem;
}
.app {
  min-height: 100%;
}
.segment {
  min-height: 100vh;
  padding-top: 5%;
  padding-bottom: 5%;
}
@media screen and (max-width: 1280px) {
  .segment {
    padding-top: 10%;
    padding-bottom: 10%;
  }
}
@media screen and (max-width: 960px) {
  .segment {
    padding-top: 15%;
    padding-bottom: 15%;
  }
}
@media screen and (max-width: 640px) {
  .segment {
    padding-top: 20%;
    padding-bottom: 20%;
  }
}
.segment > section {
  -webkit-box-pack: center;
          justify-content: center;
}
.nav {
  box-shadow: 0 1px #ddd, 0 -1px #ddd, 1px 0 #ddd, -1px 0 #ddd;
}
.nav-items {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  height: 4rem;
}
.nav-item {
  padding: 0 0.75rem;
}
.nav-item:first-child {
  margin-left: -0.75rem;
  margin-right: auto;
}
.nav-item:last-child {
  margin-right: -0.75rem;
}
.jumbotron {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-height: 100vh;
}
.continue {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  height: 4rem;
}
.judge-img {
  width: 6rem;
  height: 6rem;
  border-radius: 6rem;
  margin-bottom: 1rem;
}
